<nav class="nav">
    <ul><li><a href="/" title="Home page">Home</a></li><li><a href="/inv/type/1" title="See our inventory of Custom vehicles">Custom</a></li><li><a href="/inv/type/5" title="See our inventory of Sedan vehicles">Sedan</a></li><li><a href="/inv/type/2" title="See our inventory of Sport vehicles">Sport</a></li><li><a href="/inv/type/3" title="See our inventory of SUV vehicles">SUV</a></li><li><a href="/inv/type/4" title="See our inventory of Truck vehicles">Truck</a></li></ul>
</nav>

