<main class="main">
    <div id="home">
<div id="hero">
    <h1>Welcome to CSE Motors</h1>

    <div class="hero-info">
        <h2>DMC Delorean</h2>
        <ul>
        <li>3 Cup Holders</li>
        <li>Superman Doors</li>
        <li>Fuzzy Dice</li>
        </ul>
        <img class="btn" src="../public/images/site/own_today.png" alt="blue box with inside text own today">
    </div>
    </div>
</div>
